* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
   padding: 20px 0;
   background-image: url('../img/natural-pattern.png');
   font-family: 'Roboto', sans-serif;
 }

 li {
   list-style: none;
 }

/* header */

header{
  width: 70vw;
  height: 300px;
  background-image: url('../img/natural-header.jpg');
  margin: 0 auto;
  border: 10px solid white;
  position: relative;
}

.header-container {
width: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.header-container > img {
  width: 50%;
}

.header-container > h1 {
  text-transform: uppercase;
  color: white;
}

/* /header */

/* barra menu */
nav {
  width: 70vw;
  background-color: rgb(93, 94, 96);
  margin: 0 auto;
  text-align: center;
}

.menu-item li {
  display: inline-block;
  padding: 10px;
}

.menu-item li:hover {
  background-color: grey;
}

.menu-item a {
  color: white;
}

/* /barra menu */

/* corpo principale */

main {
  width: 70vw;
  margin: 20px auto;
}

main::after {
  content:"";
  display: table;
  clear: both;
}
 /* regole generali degli aside */
.column {
  width: 30%;
  background-color:white;
  float: left;
  vertical-align: top;
}
/* /regole generali degli aside */

/* aside sinistro */

.left-box{
  height: 100%;
  width:80%;
  float: left;
}

.i-container {
  width: 20%;
  float: left;
}

.h2-container {
  width: 80%;
  float: left;
}

.i-container > i, .box-title {
  font-size: 36px;
}

.i-container > i {
  color: orange;
}

.box-title {
  color: grey;
  margin: 20px 10px;
}

.h2-container > h2 {
  margin: 0 0 10px;
}

.organic-themes > li {
  color: green;
  margin: 10px 0;
}

/* /aside sinistro */

/* box centrale */
.central-box {
  width: 60%;
  height: 300px;
  background-color: white;
  float: left;
  margin: 0 5%;
}

.central-box > h2 {
  margin: 20px 10px;
}

p {
  margin: 20px 10px;
  line-height: 1.6;
}

/* /box centrale */


/* box destro */
.right-box{
  height: 100%;
  width: 20%;
  float: left;
}

.right {
  width: 100%;
  margin-bottom: 30px;
}

.right > h2{
  font-size: 30px;
}

/* /box destro */
/* /corpo principale */

/* footer */
footer {
  width: 70vw;
  height: 100px;
  background-color: green;
  margin: auto;
}
/* /footer */
